.hero-video-wrapper {
  max-width: 100% !important;
  padding: 0 !important;
}

.hero-video-wrapper .hero-video-container {
  max-width: 100% !important;
  padding: 0 !important;
}

.hero-video {
  background: linear-gradient(
    to bottom,
    rgb(232 225 255) 0%,
    rgb(255 255 255) 100%
  );
  padding: 0 24px 48px;
  text-align: center;
}

.hero-video > div {
  max-width: 950px;
  margin: 0 auto;
}

.hero-video img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  display: block;
}
