.footer-cta {
  text-align: center;
  padding: 0 0 34px;
  border-bottom: 1px solid #e8e8e8;
}

.footer-cta h2 {
  font-size: 36px;
  font-weight: 600;
  color: var(--dark-color);
  margin: 0 0 12px;
  line-height: var(--line-height-normal);
}

.footer-cta p {
  font-size: var(--font-size-body-m);
  color: var(--dark-color);
  margin: 0 0 var(--space-m);
}

footer .footer-cta a.button:any-link {
  padding: 21px 30px;
  height: auto;
}

@media (width >= 1024px) {
  .footer-cta h2 {
    font-size: var(--font-size-heading-l);
  }
}
