:root {
  /* brand colors */
  --color-muted: rgb(51 51 51);

  /* fonts */
  --heading-font-family: "Lazzer", "Inter", sans-serif;
  --body-font-family: "Inter", sans-serif;

  /* spacing */
  --nav-height: 84px;
}

html,
body {
  overflow-x: clip;
}
