.footer-bottom {
  padding: var(--space-m) 0 0;
  border-top: 1px solid #e8e8e8;
}

.footer-bottom > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-bottom > div > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space-xs) var(--space-s);
}

.footer-bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.footer-bottom a {
  font-size: var(--font-size-caption);
  color: var(--dark-color);
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-bottom p {
  font-size: var(--font-size-caption);
  color: var(--dark-color);
  margin: 0;
}

@media (width >= 1024px) {
  .footer-bottom > div {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
